USE [master]
GO
/****** Object:  Database [PET_STAGE]    Script Date: 4/12/2021 8:16:16 PM ******/
CREATE DATABASE [PET_STAGE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PET_STAGE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019\MSSQL\DATA\PET_STAGE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PET_STAGE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019\MSSQL\DATA\PET_STAGE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PET_STAGE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PET_STAGE]
GO
/****** Object:  Table [dbo].[AppConfig]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppConfig](
	[server_name] [nvarchar](max) NULL,
	[db_name] [nvarchar](max) NULL,
	[olap_name] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[ssis_folder_path] [nvarchar](max) NULL,
	[DTExec_path] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Available_For]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Available_For](
	[service_id] [nchar](10) NOT NULL,
	[species_id] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Available_For] PRIMARY KEY CLUSTERED 
(
	[service_id] ASC,
	[species_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[biil_id] [nchar](10) NOT NULL,
	[booking_id] [nchar](10) NULL,
	[datetime] [datetime] NULL,
	[cost] [int] NULL,
	[discount] [float] NULL,
	[total_pay] [decimal](28, 0) NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[biil_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_id] [nchar](10) NOT NULL,
	[facility_id] [nchar](10) NULL,
	[pet_id] [nchar](10) NULL,
	[service_id] [nchar](10) NULL,
	[status] [smallint] NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [nchar](10) NOT NULL,
	[employee_name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nchar](15) NULL,
	[address] [nvarchar](50) NULL,
	[unit_id] [nchar](10) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facility]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facility](
	[facility_id] [nchar](10) NOT NULL,
	[facility_name] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[phone] [nchar](15) NULL,
 CONSTRAINT [PK_Facility] PRIMARY KEY CLUSTERED 
(
	[facility_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JoinExcel]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinExcel](
	[facility_id] [nvarchar](10) NULL,
	[pet_id] [nvarchar](10) NULL,
	[service_id] [nvarchar](10) NULL,
	[date_time] [datetime] NULL,
	[cost] [int] NULL,
	[discount] [float] NULL,
	[total_pay] [decimal](28, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lastest_Update]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lastest_Update](
	[lastest update] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager_Facility]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager_Facility](
	[employee_id] [nchar](10) NOT NULL,
	[facility_id] [nchar](10) NULL,
	[isManager] [bit] NULL,
 CONSTRAINT [PK_Manager_Facility] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[owner_id] [nchar](10) NOT NULL,
	[first_name] [nvarchar](20) NULL,
	[last_name] [nvarchar](20) NULL,
	[phone] [nchar](12) NULL,
	[email] [nvarchar](50) NULL,
	[adress] [nvarchar](50) NULL,
	[notes] [nvarchar](200) NULL,
 CONSTRAINT [PK_Owner] PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[pet_id] [nvarchar](10) NOT NULL,
	[pet_name] [nvarchar](50) NULL,
	[species_id] [nvarchar](10) NULL,
	[birth] [nvarchar](50) NULL,
	[notes] [nvarchar](200) NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet_Owner]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet_Owner](
	[owner_id] [nchar](10) NOT NULL,
	[pet_id] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Pet_Owner] PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC,
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet_Species]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet_Species](
	[species_id] [nchar](10) NOT NULL,
	[species_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pet_Species] PRIMARY KEY CLUSTERED 
(
	[species_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[service_id] [nvarchar](10) NOT NULL,
	[service_name] [nvarchar](50) NULL,
	[service_details] [nvarchar](max) NULL,
	[unit_id] [nvarchar](10) NULL,
	[cost] [int] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage_DateTime]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage_DateTime](
	[Date_time] [date] NOT NULL,
	[d_day] [int] NULL,
	[d_month] [int] NULL,
	[d_year] [int] NULL,
	[d_quarter] [int] NULL,
 CONSTRAINT [PK__Stage_Da__FA93D8A3C87B523D] PRIMARY KEY CLUSTERED 
(
	[Date_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAGE_FACT_AMOUNT]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE_FACT_AMOUNT](
	[owner_id] [nvarchar](10) NULL,
	[species_id] [nvarchar](10) NULL,
	[facility_id] [nvarchar](10) NULL,
	[datetime] [date] NULL,
	[service_id] [nvarchar](10) NULL,
	[unit_id] [nvarchar](10) NULL,
	[discount] [float] NULL,
	[total_pay] [decimal](28, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[unit_id] [nvarchar](10) NOT NULL,
	[unit_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AppConfig] ([server_name], [db_name], [olap_name], [username], [password], [ssis_folder_path], [DTExec_path]) VALUES (N'LAPTOP-V3KE0001\MSSQL2019', N'PET_STAGE', N'PETCARE_OLAP', N'sa', N'123', N'"D:\HE THONG THONG TIN\Datawarehouse - OLAP\PetCare_Dw\', N'C:\Program Files\Microsoft SQL Server\150\DTS\Binn\')
GO
INSERT [dbo].[Bill] ([biil_id], [booking_id], [datetime], [cost], [discount], [total_pay]) VALUES (N'0         ', N'1         ', CAST(N'2020-07-19T16:47:00.000' AS DateTime), 550000, 0, CAST(550000 AS Decimal(28, 0)))
INSERT [dbo].[Bill] ([biil_id], [booking_id], [datetime], [cost], [discount], [total_pay]) VALUES (N'1         ', N'2         ', CAST(N'2020-07-20T07:43:22.000' AS DateTime), 1000000, 0, CAST(1000000 AS Decimal(28, 0)))
INSERT [dbo].[Bill] ([biil_id], [booking_id], [datetime], [cost], [discount], [total_pay]) VALUES (N'10        ', N'11        ', CAST(N'2021-04-03T22:50:10.000' AS DateTime), 750000, 20000, CAST(730000 AS Decimal(28, 0)))
GO
INSERT [dbo].[Booking] ([booking_id], [facility_id], [pet_id], [service_id], [status]) VALUES (N'1         ', N'1         ', N'1         ', N'1         ', 0)
INSERT [dbo].[Booking] ([booking_id], [facility_id], [pet_id], [service_id], [status]) VALUES (N'10        ', N'4         ', N'3         ', N'4         ', 0)
INSERT [dbo].[Booking] ([booking_id], [facility_id], [pet_id], [service_id], [status]) VALUES (N'11        ', N'2         ', N'10        ', N'4         ', 0)
GO
INSERT [dbo].[Facility] ([facility_id], [facility_name], [address], [phone]) VALUES (N'1         ', N'Phòng Khám Thú Y PetCare Cơ sở Hà Nội ', N'920 Mai Hắc Đế, Hai Bà Trưng, Hà Nội', N'0336521012     ')
INSERT [dbo].[Facility] ([facility_id], [facility_name], [address], [phone]) VALUES (N'2         ', N'Phòng Khám Thú Y PetCare Cơ sở TP.HCM 1', N'140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, TP.HCM', N'0336699666     ')
INSERT [dbo].[Facility] ([facility_id], [facility_name], [address], [phone]) VALUES (N'3         ', N'Phòng Khám Thú Y PetCare Cơ sở Đà Nẵng', N'117 Ngô Gia Tự, Hải Châu, Đà Nẵng', N'0332145684     ')
GO
INSERT [dbo].[JoinExcel] ([facility_id], [pet_id], [service_id], [date_time], [cost], [discount], [total_pay]) VALUES (N'2', N'1', N'1', CAST(N'2021-03-23T00:07:57.000' AS DateTime), 550000, 50000, CAST(500000 AS Decimal(28, 0)))
INSERT [dbo].[JoinExcel] ([facility_id], [pet_id], [service_id], [date_time], [cost], [discount], [total_pay]) VALUES (N'1', N'2', N'2', CAST(N'2021-03-10T16:30:00.000' AS DateTime), 2500000, 50000, CAST(2450000 AS Decimal(28, 0)))
INSERT [dbo].[JoinExcel] ([facility_id], [pet_id], [service_id], [date_time], [cost], [discount], [total_pay]) VALUES (N'1', N'3', N'5', CAST(N'2021-03-10T16:50:00.000' AS DateTime), 1250000, 50000, CAST(1200000 AS Decimal(28, 0)))
GO
INSERT [dbo].[Lastest_Update] ([lastest update]) VALUES (CAST(N'2021-04-12T17:32:24.000' AS DateTime))
GO
INSERT [dbo].[Owner] ([owner_id], [first_name], [last_name], [phone], [email], [adress], [notes]) VALUES (N'1         ', N'Quang', N'Nguyễn', N'0223645896  ', N'quang@gmail.com', N'TP.HCM', NULL)
INSERT [dbo].[Owner] ([owner_id], [first_name], [last_name], [phone], [email], [adress], [notes]) VALUES (N'10        ', N'Tài', N'Lê', N'0336458927  ', N'minhq@gmail.com', NULL, NULL)
INSERT [dbo].[Owner] ([owner_id], [first_name], [last_name], [phone], [email], [adress], [notes]) VALUES (N'11        ', N'Tú', N'Trần', N'0336458928  ', N'minhq@gmail.com', NULL, NULL)
GO
INSERT [dbo].[Pet] ([pet_id], [pet_name], [species_id], [birth], [notes]) VALUES (N'1         ', N'Chó Pug', N'1         ', NULL, N'owner 1')
INSERT [dbo].[Pet] ([pet_id], [pet_name], [species_id], [birth], [notes]) VALUES (N'10', N'Chó Pitbull', N'1', NULL, N'owner 9')
INSERT [dbo].[Pet] ([pet_id], [pet_name], [species_id], [birth], [notes]) VALUES (N'11', N'Chó Husky', N'1', NULL, N'owner 10')
GO
INSERT [dbo].[Pet_Owner] ([owner_id], [pet_id]) VALUES (N'1         ', N'1         ')
INSERT [dbo].[Pet_Owner] ([owner_id], [pet_id]) VALUES (N'10        ', N'11        ')
INSERT [dbo].[Pet_Owner] ([owner_id], [pet_id]) VALUES (N'11        ', N'12        ')
GO
INSERT [dbo].[Pet_Species] ([species_id], [species_name]) VALUES (N'1         ', N'Chó')
INSERT [dbo].[Pet_Species] ([species_id], [species_name]) VALUES (N'2         ', N'Mèo')
INSERT [dbo].[Pet_Species] ([species_id], [species_name]) VALUES (N'3         ', N'Chuột')
GO
INSERT [dbo].[Service] ([service_id], [service_name], [service_details], [unit_id], [cost]) VALUES (N'1         ', N'Tiêm vacxin', N'some details', N'1         ', 550000)
INSERT [dbo].[Service] ([service_id], [service_name], [service_details], [unit_id], [cost]) VALUES (N'2         ', N'Phối giống', N'some details', N'1         ', 2500000)
INSERT [dbo].[Service] ([service_id], [service_name], [service_details], [unit_id], [cost]) VALUES (N'3         ', N'Khám sức khỏe định kỳ', N'some details', N'1         ', 1000000)
GO
INSERT [dbo].[Stage_DateTime] ([Date_time], [d_day], [d_month], [d_year], [d_quarter]) VALUES (CAST(N'2020-05-16' AS Date), 16, 5, 2020, 2)
INSERT [dbo].[Stage_DateTime] ([Date_time], [d_day], [d_month], [d_year], [d_quarter]) VALUES (CAST(N'2020-06-13' AS Date), 13, 6, 2020, 2)
INSERT [dbo].[Stage_DateTime] ([Date_time], [d_day], [d_month], [d_year], [d_quarter]) VALUES (CAST(N'2020-07-19' AS Date), 19, 7, 2020, 3)
GO
INSERT [dbo].[STAGE_FACT_AMOUNT] ([owner_id], [species_id], [facility_id], [datetime], [service_id], [unit_id], [discount], [total_pay]) VALUES (N'1         ', N'1         ', N'1         ', CAST(N'2020-07-19' AS Date), N'1         ', N'1         ', 0, CAST(550000 AS Decimal(28, 0)))
INSERT [dbo].[STAGE_FACT_AMOUNT] ([owner_id], [species_id], [facility_id], [datetime], [service_id], [unit_id], [discount], [total_pay]) VALUES (N'10        ', N'1', N'3         ', CAST(N'2021-03-17' AS Date), N'5         ', N'4         ', 20000, CAST(1230000 AS Decimal(28, 0)))
INSERT [dbo].[STAGE_FACT_AMOUNT] ([owner_id], [species_id], [facility_id], [datetime], [service_id], [unit_id], [discount], [total_pay]) VALUES (N'10        ', N'1', N'3         ', CAST(N'2021-03-17' AS Date), N'6         ', N'3         ', 20000, CAST(455000 AS Decimal(28, 0)))
GO
INSERT [dbo].[Unit] ([unit_id], [unit_name]) VALUES (N'1         ', N'Ban khám và điều trị')
INSERT [dbo].[Unit] ([unit_id], [unit_name]) VALUES (N'2         ', N'Ban xét nghiệm và chẩn đoán')
INSERT [dbo].[Unit] ([unit_id], [unit_name]) VALUES (N'3         ', N'Ban thẩm mỹ')
GO
/****** Object:  StoredProcedure [dbo].[addDataToDIMDateTime]    Script Date: 4/12/2021 8:16:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addDataToDIMDateTime]
as
begin
	Delete from Stage_DateTime
	Begin
		INSERT INTO	Stage_DateTime(Date_time, d_day, d_month, d_year, d_quarter)
		SELECT DISTINCT datetime, DAY(datetime), MONTH(datetime), YEAR(datetime), DATEPART(QUARTER, datetime)
		FROM STAGE_FACT_AMOUNT
	end
end
GO
USE [master]
GO
